<h1>Dashboard</h1>

<p>Seja bem-vindo(a) ao seu controle de pedidos</p>

<% if @user.restaurant.nil? %>
  <p>Nenhum restaurante cadastrado</p>

  <%= link_to "Cadastrar restaurante", new_restaurant_path %>
<% end %>

