<h1>Novo Cardápio</h1>

<%= form_with(model: @menu) do |f| %>
  <div class="w-full">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="w-full">
    <%= f.submit "Cadastrar Cardápio" %>
  </div>
<% end %>