<section class="w-11/12 mx-auto">

  <div class=" w-full flex justify-between bg-gray-200 p-4 mb-4 items-center">
    <h1 class=" w-full text-3xl font-bold p-4">Funcionários</h1>

    <div>
      <%= link_to 'Novo Funcionário', new_employee_path,
        class: 'text-nowrap bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded'
      %>
    </div>
  </div>

  <% @employees.each do |employee| %>
    <div class="flex justify-between bg-gray-200 p-4 rounded gap-3">

      <div class="flex gap-5">
        <div class="flex flex-col">
          <b>E-mail: <br></b>
          <%= employee.email %>
        </div>

        <div class="flex flex-col">
          <b>CPF: <br></b>
          <%= employee.doc_number %>
        </div>
      </div>

      <div class="flex flex-col text-center">
        Cadastro no sistema: <br>
        <% if employee.registered %>
          <span class="text-green-500 font-semibold">Confirmado</span>
        <% else %>
          <span class="text-red-500 font-semibold">Pendente</span>
        <% end %>
      </div>

    </div>
  <% end %>
</section>