<section class="p-6 w-11/12 mx-auto bg-white shadow-md rounded-lg">
  <h1 class="text-2xl text-center mb-4 font-semibold">Resultados da busca</h1>

  <% if @dishes.empty? && @beverages.empty? %>
    <div>
      <p class="text-center">Nenhum resultado encontrado.</p>
    </div>
  <% end %>

  <div class="flex flex-col gap-2">
    <% if @dishes.any? %>

      <h2 class="text-2xl font-semibold mb-6 ml-4">Pratos</h2>

      <%= render 'result_items', items: @dishes %>
    <% end %>

    <% if @beverages.any? %>

      <h2 class="text-2xl font-semibold mb-6 ml-4">Bebidas</h2>

      <%= render 'result_items', items: @beverages %>
    <% end %>
  </div>
</section>
