<section class="p-6 w-11/12 mx-auto bg-white shadow-md rounded-lg">
  <h1 class="text-2xl text-center mb-4">Editar Marcador</h1>

  <p class="w-full text-center p-3 mb-5 bg-slate-100 italic">
    Edite o nome do marcador aqui. Lembrando que será alterado em todos os pratos vinculados.
  </p>

  <% if @tag.errors.any? %>
    <div class="mb-2 text-sm text-center text-red-500">
      <ul>
        <% @tag.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <%= render 'form' %>
</section>