<section class="p-6 w-11/12 mx-auto bg-white shadow-md rounded-lg">
  <h1 class="text-2xl text-center mb-4">Novo Prato</h1>

  <% if @dish.errors.any? %>
    <ul class="mb-4 text-red-500">
      <% @dish.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= render 'form' %>
</section>
